* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: gappen;
  src: url(font/bubble.ttf);
} 

body {
 
  font-family: gappen;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  background-color: #ffdedeb0;
}

.navbar {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 7vh;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo {
  width: 170px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.btn-nav {
  display: flex;
  align-items: center;
  background-color: #ff3131;
  color: #fff;
  font-family: gappen;
  border: none;
  border-radius: 10px;
  padding: 7px 15px;
  cursor: pointer;
  margin-left: 10px;
}

.vid-chat {
  display: grid;
  grid-template-areas: 'user1 chat' 'user2 chat';
  gap: 10px;
  padding: 20px;
  grid-template-columns: 40% 60%;
  margin-left: 10%;
  margin-right: 10%;
}

.user1,
.user2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  background-color: #5e5c64;
  position: relative;
  z-index: 0;
}

.wait {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.overlay {
  position: absolute;
  bottom: 7px;
  left: 7px;
  right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 1;
}

.overlay img {
  width: 100px;
  height: auto;
  opacity: 0.5;
}

.mute {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: black;
  color: white;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 40vh;
}

.chat {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #002252;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.chat-header-left {
  display: flex;
  align-items: center;
}

.chat-header h2 {
  font-size: 24px;
  color: #002252;
  margin-right: 10px;
}

.live-pulse {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 0 0 #f6615144;
  animation: l1 1s infinite;
}

@keyframes l1 {
  100% {
    box-shadow: 0 0 0 13px #0000;
  }
}

.btn-report {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: transparent;
  color: #002252;
  font-family: gappen;
  border: 2px solid #002252;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-report-m {
  display: none;
}

.chat-body {
  display: grid;
  grid-template-rows: auto 1fr; 
  justify-content: end;
  width: 100%;
  height:50vh;
  overflow: auto;
  flex-grow: 1;
}


.chat-send,
.chat-receive {
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.chat-send {
  background-color: #ff3131;
  border-bottom-right-radius: 0px;
  align-self: flex-end;
}

.chat-receive {
  background-color: #3f3f3f;
  border-bottom-left-radius: 0px;
  align-self: flex-start;
}

.chat-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.chat-msg-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 4px;
  border: 1px solid #ff3131;
  background-color: #ffffff;
}

.input-field {
  width: 70%;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #002252;
}

.btn-send,
.btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3131;
  color: #fff;
  font-family: gappen;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.btn-next {
  width: 20%;
  margin-right: 10px;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  margin: 8rem auto;
  --c: #ff3131 90%, #0000;
  background: radial-gradient(circle closest-side at left 6px top 50%, var(--c)), radial-gradient(circle closest-side, var(--c)), radial-gradient(circle closest-side at right 6px top 50%, var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}

@keyframes l4 {
  to {
    width: 25px;
    aspect-ratio: 1;
  }
}

.dotlottie {
  display: none;
}
/* Media Query for Responsive Design */

@media screen and (max-width: 800px) {
  .btn-nav {
    margin-right: 2vh;
  }

  .logo {
    margin-left: 2vh;
  }

  .vid-chat {
    display: grid;
    grid-template-areas:
      'user1' 
      'user2' 
      'chat ';
    gap: 10px;
    grid-template-rows: 40% 40% 0%;
    width: 100%;
    padding: 10px;
    grid-template-columns: none;
    margin-left: 0;
    margin-right: 0;
    
    min-height: 90vh;
    position: relative;
    z-index: 0;
    opacity:var()
  }

    .chat {
      grid-area: chat;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      width: 100%;
      padding: 0;
      border-radius: 10px;
      color: white;
      
    }

    .chat-body {
      display: grid;
      grid-template-rows: auto 1fr; 
      justify-content: start;
      width: 100%;
      overflow: auto;
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 16vh;
      padding: 2vh;
      max-height: 150px;
      mask-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0,0,0,0)100%);
    }
  
  .btn-report-m {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #002252 !important;
    font-family: gappen;
    border: 1px solid #002252 !important;
    border-radius: 10px;
    padding-right: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  
    .chat-header{
      display: none;
    }

  .btn-nav {
    display: none;
  }

  #localUsername {
    display:none;
}
