<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Gappen Hojayein!</title>
  <link rel="icon" type="image/png" href="static/img/favicon.png" />
  <link href="static/css/chat.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,1,0" />
</head>

<body>
  <div class="navbar">
    <img src="static/img/logo.png" class="logo">
    <!-- <button class="btn-nav">Gender</button> -->
    <div class="nav-right">
      <button class="btn-nav">
        <span class="material-symbols-outlined">
          home
        </span>
        <span>Home</span>
      </button>
      <button class="btn-nav">
        <span class="material-symbols-outlined">
          security
        </span>
        <span>Secure</span>
      </button>
    </div>
  </div>
  <div class="vid-chat">
    <div class="user1">
      <video class="video-player" id="remoteStream" autoplay playsinline></video>
      <div class="overlay">
        <p id="remoteUsername">
        <div class="loader" id="loader"></div>
        </p>
        <span class="material-symbols-outlined">
          <p class="mute" id="mute">mic_off</p>
        </span>
      </div>
    </div>
    <div class="user2">
      <video class="video-player" id="localStream" autoplay playsinline muted></video>
      <div class="overlay">
        <p id="localUsername" data-username="<%= userName %>">
          You
        </p>
        <img src="static/img/logo.png">
      </div>
    </div>
    <!-- Chat box start -->
    <div class="chat">
      <div class="chat-header">
        <div class="chat-header-left">
          <h2>Chat</h2>
          <div class="live-pulse"></div>
        </div>
        <button class="btn-report">
          <span class="material-symbols-outlined">
            report
          </span>
          Report!
        </button>
      </div>

      <div class="chat-body" id="chat-body">
      </div>

      <div class="chat-bottom">
        <button class="btn-next" id="skipButton">Next</button>

        <div class="chat-msg-container">
          <input type="text" class="input-field" name="message" id="textInput" placeholder="Type a message...">
          <button class="btn-send" onclick="userResponse()">
            Send <span class="material-symbols-outlined">send</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/main.js"></script>

</html>


<!-- <div class="loader"></div>  -->