<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1><%= room_id %></h1>
   <div id="videos">
    <video class="video-player" id="user-1" autoplay playsinline></video>
    <video class="video-player" id="user-2" autoplay playsinline></video>
   </div> 
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/handlers.js"></script>
<script src="/static/main.js"></script>
</html>