<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="inside">
        <div class="user2">
          <div class="videouser2">
            <div class="user1">
              <h1 id="username" data-username="<%= userName %>"><%= userName %></h1>
              <video class="" id="user-1" autoplay playsinline></video>
            </div>
            <h2 id="username2"></h2>
            <video
              class="video-player"
              id="user-2"
              autoplay
              playsinline
            ></video>
          </div>
        </div>
        <div class="chat">
          <div class="center">
            <div class="card">
              <div class="chat-input">

             
              </div>
            </div>
            
      <div class="input-card">
        <label class="input-label"></label>
        <input type="text" name="" class="message" maxlength="50"  placeholder="Write a message">
        <button onclick="sendChat()">Send</button>
      </div>
          <div class="buttons-div"><button class="home">Home</button><button class="report">Report</button> <button class="skip">Skip</button></div>
        </div>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/handlers.js"></script>
  <script src="/static/main.js"></script>
  <script >

var chats=document.getElementsByClassName("chat-input");
chats[0].innerHTML+="<div class="+"userchat1"+"><p class="+"user1chat"+">"+"hello"+"</p>"+'</div><hr>';
chats[0].innerHTML+="<div class="+"userchat2"+"><p class="+"user2chat"+">"+"Hii"+"</p>"+'</div><hr>';
chats[0].innerHTML+="<div class="+"userchat1"+"><p class="+"user1chat"+">"+"How are you?"+"</p>"+'</div><hr>';
function sendChat(){
  var msg=document.getElementsByClassName("message");
  console.log("chats",msg);
  chats[0].innerHTML+="<div class="+"userchat2"+"><p class="+"user2chat"+">"+msg[0].value+"</p>"+'</div><hr>';
  msg[0].value="";
}

  </script>
</html>
