<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/chat.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <h1 id="roomId">Gappen</h1>
      <div class="usernames">
        <div class="usercontainer">
          <h2 id="localUsername" data-username="<%= userName %>">
            <%= userName %>
          </h2>
        </div>
        <div class="usercontainer">
          <h2 id="remoteUsername">User2</h2>
        </div>
      </div>
    </div>
    <div class="video">
      <div class="user">
        <video class="video-player" id="localStream" autoplay playsinline muted></video>
      </div>
      <div class="user">
        <video class="video-player" id="remoteStream" autoplay playsinline></video>
      </div>
      <div class="msgchat">
        <div class="buttons-div">
          <button class="btns home">Home</button>
          <button class="btns report">Report</button>
          <button class="btns skip" id="skipButton">Skip</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Popup chat window -->
  <!-- chat open -->
  <div class="chat-bar-open" id="chat-open">
    <button id="chat-open-button" type="button" class="collapsible close" onclick="chatOpen()">
      <img src="../static/Graident Ai Robot.jpg" alt="chat" />
    </button>
  </div>
  <!-- chat close -->
  <div class="chat-bar-close" id="chat-close">
    <button id="chat-close-button" type="button" class="collapsible close" onclick="chatClose()">
      <i class="material-icons-outlined"> X </i>
    </button>
  </div>
  <!-- chat chat-window -->
  <div class="chat-window2" id="chat-window2">
    <div class="message-box" id="messageBox">
    </div>
    <div class="input-box">
      <div class="write-reply">
        <input class="inputText" type="text" id="textInput" placeholder="Write a reply..." />
      </div>
      <div class="send-button">
        <button type="submit" class="send-message" id="send" onclick="userResponse()">
          <i class="material-icons-outlined">send</i>
        </button>
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/chat.js"></script>
</html>