<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
  </head>
  <body>
    <center>
      <input id="userName" type="text" placeholder="choose a username" />
      <button onclick="join()">Join Room</button>
    </center>
  </body>
  <script>
    function join() {
      const userName = document.getElementById("userName").value;
      window.location = `/room?userName=${encodeURIComponent(userName)}`;
    }
  </script>
</html>
